/* Contenedor general con sombra, bordes y padding */
form {
  background-color: #fff;
  font-family: sans-serif;
}

/* Sobrescribe btn-actualizar  */
.btn-actualizar {
  background-color: #f28b82 !important;
  color: #fff !important;
  border: none !important;
  transition: background-color 0.3s ease;
}

.btn-actualizar:hover {
  background-color: #e06666 !important;
  color: #fff !important;
}



/* para personalizar placeholder */
::placeholder {
  color: #999;
}


p {
  color: #666;
  font-size: 1rem;
  max-width: 550px;
  margin: 0 auto 1.5rem auto;
  text-align: center;
}
